    {% extends 'navbar_profile.html' %}
    
    {% block content %}
    
    <div class='depositing_confirmation'>
        <form  method="POST" action="{% url 'money_depositing_confirmation_page' %}">
            {% csrf_token %}
            
            {{form}}
            
            <button><a href="{% url 'money_depositing_page' %}"  id='button1' type = "submit" name='go_on'>Go on</a></button>

            <div class='btn2'>
                <button><a href="{% url 'money_depositing_page' %}" id='button2'  type = "submit" name='turn_back'>Turn back</a></button>
            </div>
        </form>
    </div>

    {% endblock %}